Repository slacktracer/proto: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --cache --fix",
  "*.{css,js,json,md,ts,vue}": "prettier --write"
}

Build v1.0.27
  package-lock.json
  package.json
Due: prettier --write

Only jest stuff may be called test something... Right?
  cypress/integration/something.spec.js
Due: eslint --cache --fix, prettier --write

Build v1.0.28
  package-lock.json
  package.json
Due: prettier --write

Configuring jest.
  jest.config.json
Due: prettier --write

Build v1.0.29
  package-lock.json
  package.json
Due: prettier --write

Different Babel configurations for project files and source files.
  .babelrc
  .circleci/config.yml
  src/.babelrc
Due: none

Build v1.0.30
  package-lock.json
  package.json
Due: prettier --write

Is it possible to interpolate there?
  .circleci/config.yml
Due: none

Build v1.0.31
  package-lock.json
  package.json
Due: prettier --write

Testing if the CI/CD still works!
  .circleci/config.yml.template
  README.md
  config/writeCircleCIConfigYAML.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Build v1.0.1
  package-lock.json
  package.json
Due: prettier --write

Fixing patch number.
  package.json
Due: prettier --write

Build v1.0.32
  package-lock.json
  package.json
Due: prettier --write

Does audit works?
  .circleci/config.yml
  .circleci/config.yml.template
  package-lock.json
  package.json
Due: prettier --write

Build v1.0.33
  package-lock.json
  package.json
Due: prettier --write

Testing correct audit.
  .circleci/config.yml
  .circleci/config.yml.template
Due: none

Build v1.0.34
  package-lock.json
  package.json
Due: prettier --write

Test test test
  .browserlistrc
  .browserslistrc
  .gitignore
  README.md
  build/base.configuration.js
  cypress.json
  jest.config.json
  package-lock.json
  src/about/about.vue
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/app/app.vue
  src/app/routers/main.ts
  src/app/stores/main.ts
  src/apple-touch-icon.png
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/home/assets/chuttersnap-UmftXwTd8Q4-unsplash.jpg
  src/home/assets/logo.png
  src/home/components/hello-world.vue
  src/home/home.vue
  src/home/services/something.ts
  src/index.html
  src/main-navbar/main-navbar.vue
  src/main.ts
  src/site.webmanifest
  src/something.ts
  src/tsconfig.json
  tests/end-to-end/cypress/integration/something.spec.js
  tests/end-to-end/cypress/plugins/index.js
  tests/end-to-end/cypress/support/commands.js
  tests/end-to-end/cypress/support/index.js
  tests/unit/jest/home.test.ts
Due: eslint --cache --fix, prettier --write

Updated dependencies
  package.json
Due: prettier --write

Build v1.0.35
  package-lock.json
  package.json
Due: prettier --write

Responsive-ish image.
  src/home/home.vue
Due: eslint --cache --fix, prettier --write

Build v1.0.36
  package-lock.json
  package.json
Due: prettier --write

Some test something this repo is real =P
  .circleci/config.yml
  package-lock.json
  package.json
  src/.eslintrc.json
  src/about/about.vue
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/app/app.vue
  src/app/routers/main.ts
  src/apple-touch-icon.png
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/home/assets/chuttersnap-UmftXwTd8Q4-unsplash.jpg
  src/home/assets/mekano-big-screenRS.jpg
  src/home/components/hello-world.vue
  src/home/home.vue
  src/main-navbar/assets/rsz_mekano-big-screenrs.jpg
  src/main-navbar/main-navbar.vue
  src/main.ts
Due: eslint --cache --fix, prettier --write

Name and version
  package.json
Due: prettier --write

Formatting and CI...
  .circleci/config.yml
  package-lock.json
Due: prettier --write

Hmmm...
  .circleci/config.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

Build v1.2.37
  package-lock.json
  package.json
Due: prettier --write

Updated vvw...
  .circleci/config.yml
  .lintstagedrc.json
  README.md
  jest.config.json
  package-lock.json
  package.json
  src/.eslintrc.json
  src/about/about.vue
  src/home/home.vue
  src/home/services/something.ts
  src/main-navbar/main-navbar.vue
  tests/unit/jest/home.spec.ts
Due: eslint --cache --fix, prettier --write

Build v1.2.38
  package-lock.json
  package.json
Due: prettier --write

Build v1.2.39
  package-lock.json
  package.json
Due: prettier --write
