Repository slacktracer/proto: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

For a leaner pack-json.
  .huskyrc.json
  package-lock.json
  package.json
Due: prettier --write

Now with tests!
  .circleci/config.yml
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  src/home/__unit-tests__/home.test.ts
  src/home/components/hello-world.vue
  src/home/home.vue
  src/something.ts
Due: eslint --cache --fix, prettier --write

Testing hook.
  src/home/home.vue
Due: eslint --cache --fix, prettier --write

Trying build and deploy...
  .circleci/config.yml
  package.json
Due: prettier --write

Trying build and deploy... Part 2.
  package-lock.json
  package.json
Due: prettier --write

Better formatting and CI/CD. Hopefully.
  .circleci/config.yml
  .eslintignore
  .eslintrc.json
  .prettierignore
  .prettierrc
  README.md
  build/base.configuration.js
  build/development.configuration.babel.js
  build/production.configuration.babel.js
  package-lock.json
  package.json
  src/app/router.ts
  src/app/store.ts
  src/home/components/hello-world.vue
  src/home/home.vue
  src/index.html
  src/main.ts
Due: eslint --cache --fix, prettier --write

Trying different configurations by environment. Not sure about this word...
  package.json
  src/home/home.vue
Due: eslint --cache --fix, prettier --write

How about this...?
  package.json
Due: prettier --write

Where did prettier go? =(
  package-lock.json
Due: prettier --write

What's is wrong?
  .circleci/config.yml
Due: none

Multi-build. Separate worlds. Globals/Env.
  .circleci/config.yml
  .eslintignore
  .eslintrc.json
  build/build-globals-object-from-env.js
  build/production.configuration.babel.js
  config/globals-from-env.json
  package-lock.json
  package.json
  src/.eslintignore
  src/.eslintrc.json
  src/home/home.vue
Due: eslint --cache --fix, prettier --write

Why pre-commit hook did not work?
  .eslintrc.json
Due: prettier --write

Wait, what?
  .circleci/config.yml
Due: none

...
  .circleci/config.yml
Due: none

Last try.
  .circleci/config.yml
Due: none

And again...
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier --write

Testing improved circleci config.
  .circleci/config.yml
  package.json
Due: prettier --write

Testing pre-commit hook...
  src/main.ts
Due: eslint --cache --fix, prettier --write

Pre-commit hook is failing. =(
  src/main.ts
Due: eslint --cache --fix, prettier --write

And again.
  .circleci/config.yml
Due: none

Will it work?
  .circleci/config.yml
Due: none

Há!
  .circleci/config.yml
Due: none

I'm feeling lucky!
  .circleci/config.yml
Due: none

Testing envvars.
  .circleci/config.yml
  package.json
Due: prettier --write

Could it possibly work?
  .circleci/config.yml
  package.json
Due: prettier --write

Upgrade to 1.0.1
  package-lock.json
  package.json
Due: prettier --write

Upgrade to 1.0.2
  package-lock.json
  package.json
Due: prettier --write

Arrrghhh
  .circleci/config.yml
Due: none

Upgrade to 1.0.3
  package-lock.json
  package.json
Due: prettier --write

Not again...
  .circleci/config.yml
  .lintstagedrc.json
Due: prettier --write

Upgrade to 1.0.4
  package-lock.json
  package.json
Due: prettier --write

Why?
  .circleci/config.yml
Due: none

Upgrade to 1.0.5
  package-lock.json
  package.json
Due: prettier --write

Not there yet.
  .circleci/config.yml
Due: none

Upgrade to 1.0.6
  package-lock.json
  package.json
Due: prettier --write

Sigh...
  .circleci/config.yml
Due: none

Upgrade to 1.0.7
  package-lock.json
  package.json
Due: prettier --write

Upgrade to 1.0.8
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{css,js,json,md,ts,vue}
