Repository slacktracer/proto: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --cache --fix",
  "*.{css,js,json,md,ts,vue}": "prettier --write"
}

No...
  .circleci/config.yml
Due: none

Upgrade to 1.0.9
  package-lock.json
  package.json
Due: prettier --write

Go fig...
  .circleci/config.yml
Due: none

Upgrade to 1.0.10
  package-lock.json
  package.json
Due: prettier --write

Invalid &!
  .circleci/config.yml
Due: none

Upgrade to 1.0.11
  package-lock.json
  package.json
Due: prettier --write

dOES IT WORK?
  .circleci/config.yml
Due: none

Ops.
  .circleci/config.yml
Due: none

Upgrade to 1.0.12
  package-lock.json
  package.json
Due: prettier --write

Unifying dev and prod "envars" handling.
  build/build-globals-object-from-env.js
  build/development.configuration.babel.js
  config/globals-from-env.json
  package.json
  src/home/home.vue
Due: eslint --cache --fix, prettier --write

Build v1.0.13
  package-lock.json
  package.json
Due: prettier --write

Removing dotenv stuff.
  .circleci/config.yml
  build/base.configuration.js
  config/globals-from-env.json
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Build v1.0.14
  package-lock.json
  package.json
Due: prettier --write

What's pager?
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier --write

Build v1.0.15
  package-lock.json
  package.json
Due: prettier --write

Much better. I hope. =P
  .circleci/config.yml
  build/build-globals-object-from-env.js
  config/globals-from-env.json
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Build v1.0.16
  package-lock.json
  package.json
Due: prettier --write

Hook testing.
  .circleci/config.yml
  package.json
Due: prettier --write

Ahhh
  .huskyrc.json
Due: prettier --write

Almost there...
  .huskyrc.json
  package.json
Due: prettier --write

Build v1.0.17
  package-lock.json
  package.json
Due: prettier --write

Is it possible to move globals to base?
  build/base.configuration.js
  build/development.configuration.babel.js
  build/production.configuration.babel.js
Due: eslint --cache --fix, prettier --write

Build v1.0.18
  package-lock.json
  package.json
Due: prettier --write

Ops! Always ops...
  package.json
Due: prettier --write

Build v1.0.19
  package-lock.json
  package.json
Due: prettier --write

Moved dotenv to dep.
  package-lock.json
  package.json
  src/tsconfig.json
Due: prettier --write

Build v1.0.20
  package-lock.json
  package.json
Due: prettier --write

Simpler is always better.
  .circleci/config.yml
  build/base.configuration.js
  package-lock.json
  package.json
  src/home/home.vue
Due: eslint --cache --fix, prettier --write

Dotenv no longer main dep.
  package.json
Due: prettier --write

Build v1.0.21
  package-lock.json
  package.json
Due: prettier --write

Simpler is always better.
  build/base.configuration.js
  build/build-globals-object-from-env.js
  build/development.configuration.babel.js
  config/globals-from-env.json
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Build v1.0.22
  package-lock.json
  package.json
Due: prettier --write

Build v1.0.23
  package-lock.json
  package.json
Due: prettier --write

Do I need dotenv for CI?
  build/base.configuration.js
  build/development.configuration.babel.js
Due: eslint --cache --fix, prettier --write

Build v1.0.24
  package-lock.json
  package.json
Due: prettier --write

Systemvars true?
  build/base.configuration.js
  package.json
Due: eslint --cache --fix, prettier --write

Build v1.0.25
  package-lock.json
  package.json
Due: prettier --write

Now cypressy!
  .eslintrc.json
  cypress.json
  cypress/integration/test.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

Build v1.0.26
  package-lock.json
  package.json
Due: prettier --write

Ok.
  package-lock.json
  package.json
Due: prettier --write
